* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    color: #FFFFFF;
    font-family: "Poppins", sans-serif;

}

.clickme {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 24px;
    margin-bottom: 10px;
    width: 50px;
}

.clickme:hover {
    cursor: pointer;
    width: 55px;
}

.home_container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, #151c25 0%, #0d1117 100%);
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;
}

.container {
    height: 100%;
    width: 80%;
    margin-top: 5%;
}

.container h1 {
    font-size: 1.4rem;
    font-weight: 300;
}

.container h1 span {
    font-size: 1.5rem;
    font-weight: 500;
}

.container .about {
    font-size: 1rem;
    font-weight: 300;

    margin-top: 20px;

    width: 70%;
}

.spacer {
    height: 20%;
}

.column_about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column_about a {
    margin-top: 20px;
    padding: 7px 10px;
    border: 1px solid #dedede;
    background: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}

.column_about a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.topic {
    display: flex;
    flex-direction: column;
}

.topic span {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.skills_row {
    display: flex;
    flex-direction: row;
    gap: 20;
}

.skills_container {
    width: 50%;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}

.skill {
    color: #77768a;
    font-size: 0.9rem;
    padding: 2px 2px;
    border-radius: 5px;
}

.experiences_container {
    width: 100%;
}

.experiences {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.experience {
    width: 33.3%;
    height: 240px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #414050;
    background-color: transparent;
    color: #FFFFFF;
}

.row {
    display: flex;
    justify-content: space-between;
}

.occupation {
    font-size: 1.1rem;
    font-weight: 400;
}

.company {
    font-size: 1rem;
    font-weight: 500;
    color: #dedede;
}

.description {
    margin-top: 10px;
    font-size: .9rem;
}

.techs {
    margin-top: 10px;
    font-size: .9rem;
    color: #949399;
}

.techs span {
    font-size: .9rem;
    font-weight: 500;
}

.socials {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.socials p {
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 5px;
}

.socials a {
    color: cadetblue;
    font-weight: 500;
}